[Unit]
Description=pacman files database update
RequiresMountsFor=/var/lib/pacman/sync
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Fy
Nice=19
StandardOutput=journal
StandardError=journal
